.adress{
    margin-bottom: 60px;
}

.adress__link{
    color: $background-color; 
    background-color: #2F303A;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 

    transition: $transition-duration
    $transition-timing-function;


    &:hover,
    &:focus{
    color: $accent-color;
    }
}

.footer__link{
    margin-bottom: 9px;
    width: 231px;
    height: 21px;
}

.footer-adress__link{
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    &--adress{
        color: $background-color;

    }

    &:hover,
    &:focus{
    color: $accent-color;
    }
}
   
.footer-adress__link:nth-last-child(1n+2){
    margin-bottom: 9px;
}

