.footer__section{
    background-color: #2F303A;
    padding: 60px 0;
    // margin-right: auto;
    // margin-left: auto;
}

.footer__container{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    // display: flex;
    // height: 252px;
  
}

.footer__logo{
    text-align: center;
    margin-bottom: 60px;
}


.footer__active-page{
    color: $accent-color;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    // font-size: 26px;
    // line-height: 1.1;
    letter-spacing: 0.03em;
}
.footer__links{
    display: block;
    text-align: center;
    margin-bottom: 20px;

    color: #FFFFFF;
    background-color: #2F303A;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    // font-size: 26px;
//     line-height: 1.1;
    letter-spacing: 0.03em;
    // margin-top: 60px;
    margin-bottom: 20px;
    // margin-right: 70px;

    &:hover,
    &:focus{
    color: $accent-color;
    }
}