.header-adress{
    display: none;
    @media screen and(min-width:768px) and(max-width:1199px) {
    display: flex; 
    flex-direction: column;
    margin-left: 84px;
    &:nth-child(1) {
    margin-bottom: 10px;
  }
}
@media screen and(min-width:1200px){
    display: flex;
    margin-left: auto;
    border: none;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 32px;
  }
 }



.haeder-adress__link-phone{
    @media screen and(min-width:1200px){
    margin-left: 50px;
    }
}


.header-adress__item{
    margin-bottom: 10px;
    &:nth-last-child(1){
        margin-bottom: 0;
    }
    &:hover,
    &:focus{
    color: $accent-color;
    fill: $accent-color;
    }    
    @media screen and(min-width:1200px) {
        margin-bottom: 0;
    }
    
    }






.header-adress__icon{
    display: inline-flex;
    fill:currentColor;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.haeder-adress__link{
    display: flex;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
     transition: $transition-duration
    $transition-timing-function;

    &:hover,
    &:focus{
    color: $accent-color;
    } 
}
