
.hero{

  text-align: center;
  padding: 118px 0;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/imgs_hw8/Hero_mob_1x.jpg");
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px; 
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/imgs_hw8/Hero_mob_2x.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),   
    url("../images/imgs_hw8/Hero_tab_1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),        
    url("../images/imgs_hw8/Hero_tab_2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    height: 600px;

    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), 
    url("../images/imgs_hw8/hero-img.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/imgs_hw8/Hero_desk_2x.jpg");
      padding: 200px 0;
}
  }
}

.hero__title {
  color: $background-color;

  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and(min-width:1200px) {
  font-size: 44px;
  line-height: 1.37;
 } 
  }




    



