.menu-button{
    display: inline-block;
    margin: 0 0 0  auto;
    padding: 0;
    border: none;
    background-color: transparent;
    &.icon-menu{
        display: block;
    }
    @media screen and(min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-menu{
    display: none;
}

.menu-button.is-open .icon-menu{
    display: block;
}
.menu-button.is-open .icon-cross{
    display: none;
}

.mob-menu{
    background-color: #ffffff;
    padding: 20px;
    margin-left: auto;
    height: 600px;
    text-align: center;
    font-size: 20px;
    z-index: 99;


    @media screen and  (max-width: 767px){
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 796px;
    width: 100%;
    &.is-open{
    display: block; 
    }

    @media screen and(min-width: 768px) {
    display: flex;
        }
    } 
}    



.mob-menu-list__item{
    display: flex;
}
   
.mob-menu-list__item:not(:last-child){
    padding-bottom: 32px;
}

.mob-menu-list__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
    &:hover,
    &:focus{
  color: #2196F3;
  border-radius: 2px;
  }
}


.contacts{
    margin-top: 302px;
}

.mob-connect__tel {
    display: flex;
    color: #2196F3;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}


.mob-connect__mail {
    display: flex;
    color: #757575;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
}



.mob-social__link {
  color: #2196F3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mob-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
