.menu-button{
    display: inline-block;
    margin: 0 0 0  auto;
    padding: 0;
    border: none;
    background-color: transparent;
    &.icon-menu{
        display: block;
    }
}

.menu-button .icon-menu{
    display: none;
}

.menu-button.is-open .icon-menu{
    display: block;
}
.menu-button.is-open .icon-cross{
    display: none;
}

.mob-menu{
    display: none;
    background-color: palegoldenrod;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    &.is-open{
       display: block; 
    }
}

