.header__page{
    border: 1px solid #ececec;
    position: relative;
}

.header__page--justify{
    @include respond-to(mobile){
    width: 480px;
    }
}

.nav{
    display: flex;
    align-items: center;
}

.nav__logo-link{
    color: #000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    
    &:hover,
    &:focus{
    color:$accent-color;
    }
}

.nav__logo{
    color:$accent-color;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;

    &:hover,
    &:focus{
    color: $accent-color;
    }
}

.nav__list{
    display: flex;
    margin-left: 93px; 
    
}


.nav__item + .nav__item{
    margin-left: 50px;
    
    &:hover,
    &:focus{
    color: $accent-color;
    fill: $accent-color;
    }
}


.nav__link{
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $main-tex-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em; 
    transition: $transition-duration,
    $transition-timing-function;

    &:hover,
    &:focus{
    color: $accent-color;
    padding-top: 32px;
    padding-bottom: 32px;
    }

}

.nav__link.nav__current::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: currentColor;
    border-radius: 2px;
}

.nav__current{
    color: $accent-color; 
}


.nav__portfolio{
     display: flex;
     align-items: center;
}



.header__border{
    border-bottom: 1px solid #ECECEC;
}

.header{
    margin-bottom: 94px;
}


// Mobile menu


.menu__open{
    margin-left: auto;
}

// .mob-menu.is-hidden{
//     opacity: 0;
//     pointer-events: none;
//     visibility: hidden;
// }









.mob-menu-list__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
}
.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: #2196F3;
  border-radius: 2px;
}

.mob-connect__tel {
  color: #2196F3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-connect__mail {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.mob-social__link {
  color: #2196F3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mob-social {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}