.team>.team__image{
    margin-right: 30px;
    text-align: center;
}
.team{
    background-color: #F5F4FA;
    height: 648px;
    margin-bottom: 94px;
}


.team__title{
    color: $main-tex-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team__list{
    display: flex;
    width: 1170px;
    height: 368px;
    text-align: center;
    
}

.team__image{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    width: 270px;
    height: 428px;
}

.team__image+ .team__image{
margin-left: 30px;
}

.team__profile{
    margin-bottom: 30px;
    
}
.team__subtitle{
    color: $main-tex-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em; 
    margin-bottom: 10px;
}

.team__signature{
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}
