 body {
      font-size: 14px; 
      font-family: 'Roboto',sans-serif; 
      letter-spacing: 0.03em; 
      color: $secondary-text-color; 
      background-color: $background-color;
      margin: 0px;
      
    }

    .container{
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    
}   

.button{
    height: 50px;
    width: 200px;
    background-color:$accent-color;
    color: $background-color;
    cursor: pointer;
    font-family: inherit;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
}