
    $main-tex-color: #212121;
    $secondary-text-color:  #757575;

    $accent-color: #2196F3;
    $background-color: #fff;
    $icon-color: #afb1b8;
    $primary-font: 'Roboto' sans-serif;
    $secondary-font: 'Ralewey' sans-serif;

    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    $transition-duration: 250ms;

    